<div class="container">
    <div class="row">
        <div class="col">
           <h1 style=" background-color: darkkhaki; border: 2px solid black; padding: 8px; text-align: center;">Update Post</h1>
  
           <div class="heading" style="border:2px solid black; background-color: darkkhaki;">
            <div class="row">
            <div class="col">
           <a href="#" routerLink="/post/index" class="btn btn-success" style="margin-left: 400px;">Back</a>
        
           <form [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group mb-3">
               <label class="form-label" for="title">First Name</label>
               <input 
                  formControlName="firstname"
                  id="title" 
                  type="text" 
                  [(ngModel)]="post.firstname"
                  class="form-control"
                  style="border:2px solid darkred;">
                 <div *ngIf="f.firstname.touched && f.firstname.invalid" class="alert alert-danger">
                     <div *ngIf="f.firstname.errors.required">Firstname is required.</div>
                 </div>
           </div>
         
           <div class="form-group mb-3">
               <label class="form-label" for="body">Last Name</label>
                  <input
                      formControlName="lastname"
                      id="body" 
                      type="text" 
                      [(ngModel)]="post.lastname"
                      class="form-control"
                      style="border:2px solid darkred;">

                <div *ngIf="f.lastname.touched && f.lastname.invalid" class="alert alert-danger">
                      <div *ngIf="f.lastname.errors.required">Lastname is required.</div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="email">Email</label>
                   <input
                       formControlName="email"
                       id="email" 
                       type="text" 
                       [(ngModel)]="post.email"
                       class="form-control"
                       style="border:2px solid darkred;">
 
                 <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                       <div *ngIf="f.email.errors.required">Lastname is required.</div>
                 </div>
             </div>
        
           <button class="btn btn-success" type="submit" [disabled]="!form.valid">Update</button>
    </form>

            </div>
            </div>
            </div>
    </div>
  </div>
</div>
