

 <router-outlet></router-outlet> 





<!--THIS IS USE FOR CUSTOM VALIDATION-->

<!-- <div class="container mt-5">
    <h2>Whitespace Form Validation in Angular Example</h2> 
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label>Enter Name</label>
        <input type="text" formControlName="name" class="form-control mb-2">
        <div *ngIf="m.name.touched && m.name.invalid" class="alert alert-danger">
          <div *ngIf="m.name.errors?.required">Please provide name</div>
          <div *ngIf="m.name.errors?.minlength">Name must be 4 characters</div>
          <div *ngIf="m.name.errors?.noWhiteSpace">Whitespace is not allowed</div>
        </div>
      </div>
      <div class="d-grid mt-3">
        <button class="btn btn-dark" type="submit">Save</button>
      </div>
    </form>
  </div> -->


