<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col">
            <h1 style=" background-color: darkkhaki; border: 2px solid black; padding: 8px;">View Post</h1>
  
            <a routerLink="/post/index" class="btn btn-success" style="margin-left: 450px; margin-top: 50px;">Back</a>
           <div style="border: 2px solid black; width: 500px; height: 300px; margin-left: 400px; background-color: darkkhaki">
            <div style="margin-top: 60px;">
             <!-- <div>
                 <strong>ID:</strong>
                <p>{{ post.id }}</p> 
             </div> -->
           
             <div>
                <h3><b>First Name:</b></h3>
                <p style="font-size: 20px;">{{ post?.firstname }}</p>
             </div>
           
             <div>
                <h3><b>Last Name:</b></h3>
                <p style="font-size: 20px;">{{ post?.lastname }}</p>
             </div>
            </div>
           </div>
        </div>
    </div>  
</div>
