<!-- <div class="container">
  <div class="row">
    <div class="col">
        <h1 style=" background-color: darkkhaki; border: 2px solid black; padding: 8px; text-align: center;">Create New User</h1>
        
  <div class="heading" style="border:2px solid black; background-color: darkkhaki;">
   <div class="row">
   <div class="col">
    <a href="#" routerLink="/post/index" class="btn btn-success" style="margin-left: 400px;">Back</a>
 
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 400px; margin-left: 30px;">

         <div class="form-group">
            <label class="form-label" for="title">ID</label>
            <input 
                formControlName="id"
                id="id" 
                type="number" 
                class="form-control"
                style="border:2px solid darkred;">
            <div *ngIf="f.id.touched && f.id.invalid" class="alert alert-danger">
                <div *ngIf="f.id.errors.required">Id is required.</div>
            </div>
        </div>   
   
        <div class="mb-3">
            <label class="form-label" for="title" >First Name:</label>
            <input 
                formControlName="firstname"
                id="title" 
                type="text" 
                class="form-control"
                style="border:2px solid darkred;">
            <div *ngIf="f.firstname.touched && f.firstname.invalid" class="alert alert-success">
                <div *ngIf="f.firstname.errors.required">firstname is required.</div>
            </div>
        </div>
  
        <div class="mb-3">
            <label class="form-label" for="body">Last Name:</label>
            <input 
                formControlName="lastname"
                id="body" 
                type="text" 
                class="form-control"
                style="border:2px solid darkred;">
            <div *ngIf="f.lastname.touched && f.lastname.invalid" class="alert alert-success">
                <div *ngIf="f.lastname.errors.required">lastname is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="body">Email:</label>
            <input 
                formControlName="email"
                id="email" 
                type="text" 
                class="form-control"
                style="border:2px solid darkred;">
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-success">
                <div *ngIf="f.email.errors.required">Email is required.</div>
            </div>
        </div>
  
        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
    </div>
    </div>
    </div>  
</div> -->
