.saqi{
    display: flex;
    justify-content: center;
}
 .btnn{  
      margin-left: 20px; 
      margin: 15px;   
      }

.btnnn{
    margin: 10px;
}

li a {
    text-decoration: none;
}

// a:hover{
//     color: brown;
// }

// .active{
//     color: brown;
// }