<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg" style="background-color: darkkhaki; box-sizing: border-box;">
                <div class="container-fluid">
                  <h3 class="navbar-brand">{{ 'text' | translate }}</h3>
                  
                  <div style="display: flex;">        
                    <ul style="display: grid; grid-template-columns: 80px 100px; 
                               list-style-type: none; margin-top: 20px;">
                      <li><a  style="cursor: pointer;"  (click)="onSelectedLang('en')">English</a></li>
                      <li><a  style="cursor: pointer;"  (click)="onSelectedLang('gn')">German</a></li>
                     
                    </ul>
                      <button class="btn btn-success btnn" type="submit">{{ 'text1' | translate }}</button>   
                  </div>
                </div>
                <!-- <div>{{ 'text' | translate }}</div> -->
                <!-- <div [innerHTML]=" 'login.text' | translate"></div>  -->
              </nav> 

              
              
              
              <div *ngIf="error" class="alert alert-danger" style="width: 400px; text-align: center; margin-left: 450px;" role="alert">
                <b>Error:</b> {{error}}
              </div>

              
              <form [formGroup]="Form" (ngSubmit)="onSubmit()">
              <div class="saqi">
              <div style="margin-top: 40px; border: 2px solid cadetblue; width: 300px; padding: 20px; background-color: darkkhaki;">
              
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">{{ 'text3' | translate }}</label>
                  <input type="email" class="form-control" style="border:2px solid darkred;" id="exampleInputEmail1" 
                     aria-describedby="emailHelp" formControlName="email" >
                  <div *ngIf="Form.controls['email'].invalid && Form.controls['email'].touched">
                    <span class="name" style="margin-left: 80px;">Enter email</span>                
                    </div>
                </div>


                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">{{ 'text4' | translate }}</label>
                  <input type="password" class="form-control" style="border:2px solid darkred;" id="exampleInputPassword1" formControlName="password">
                  <div *ngIf="Form.controls['password'].invalid && Form.controls['password'].touched">
                    <span class="name" style="margin-left: 80px;">Enter password</span>                
                    </div>
                </div>

                <div style="color:black; font-size: 18px;text-align: center">
                  {{loginMode? 'Forget password?' : '' }}<span style="cursor: pointer;font-weight: 500; font-size: 18px;"
                  (click)="onforget()" >{{loginMode? 'Click Here' : '' }}</span>
                </div>
                <button type="submit" class="btn btn-success btnnn" [disabled]= !Form.valid>{{loginMode? 'Sign In' : ' Create Acoount' }}</button>
              

            <div style="color:black; font-size: 18px;text-align: center">
                {{loginMode? 'Don`t account?' : 'Already have account' }}<span style="cursor: pointer;font-weight: 500; font-size: 18px;"
                (click)="logMode()">{{loginMode? 'Create One' : ': Sgin In' }}</span>
            </div>
           
              </div>
    
        
    </div>
</form>
</div>

